################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SingularityInterview
/src/SingularityInterview/Server/obj
/src/SingularityInterview/Shared/obj
